@theme {
  --color-content-primary: rgba(21, 21, 76, 1);
  --color-content-secondary: rgba(83, 113, 172, 1);
  --color-content-tertiary: rgba(147, 166, 203, 1);
  --color-content-inverted: rgba(255, 255, 255, 1);
  --color-content-brand: rgba(70, 73, 255, 1);
  --color-content-brand-bold: rgba(56, 58, 204, 1);
  --color-content-warning: rgba(255, 159, 28, 1);
  --color-content-negative: rgba(255, 115, 115, 1);
  --color-content-positive: rgba(2, 195, 154, 1);
  --color-content-informative: rgba(133, 135, 255, 1);
  --color-content-favorite: rgba(255, 159, 28, 1);
  --color-content-search-highlight: rgba(255, 159, 28, 1);
  --color-action-content-primary-enabled: rgba(255, 255, 255, 1);
  --color-action-content-primary-hover: rgba(255, 255, 255, 1);
  --color-action-content-primary-active: rgba(255, 255, 255, 1);
  --color-action-content-primary-disabled: rgba(70, 73, 255, 1);
  --color-action-content-secondary-enabled: rgba(83, 113, 172, 1);
  --color-action-content-secondary-hover: rgba(50, 68, 103, 1);
  --color-action-content-secondary-active: rgba(21, 21, 76, 1);
  --color-action-content-secondary-disabled: rgba(67, 91, 137, 1);
  --color-action-content-tertiary-enabled: rgba(83, 113, 172, 1);
  --color-action-content-tertiary-hover: rgba(50, 68, 103, 1);
  --color-action-content-tertiary-active: rgba(21, 21, 76, 1);
  --color-action-content-tertiary-disabled: rgba(147, 166, 203, 1);
  --color-action-content-negative-primary-enabled: rgba(255, 255, 255, 1);
  --color-action-content-negative-primary-hover: rgba(255, 255, 255, 1);
  --color-action-content-negative-primary-active: rgba(255, 255, 255, 1);
  --color-action-content-negative-primary-disabled: rgba(255, 115, 115, 1);
  --color-action-content-negative-secondary-enabled: rgba(255, 115, 115, 1);
  --color-action-content-negative-secondary-hover: rgba(228, 83, 83, 1);
  --color-action-content-negative-secondary-active: rgba(228, 83, 83, 1);
  --color-action-content-negative-secondary-disabled: rgba(228, 83, 83, 1);
  --color-action-content-negative-tertiaty-enabled: rgba(255, 115, 115, 1);
  --color-action-content-negative-tertiary-hover: rgba(228, 83, 83, 1);
  --color-action-content-negative-tertiary-active: rgba(228, 83, 83, 1);
  --color-action-content-negative-tertiary-disabled: rgba(255, 178, 178, 1);
  --color-action-content-positive-primary-enabled: rgba(255, 255, 255, 1);
  --color-action-content-positive-primary-hover: rgba(255, 255, 255, 1);
  --color-action-content-positive-primary-active: rgba(255, 255, 255, 1);
  --color-action-content-positive-primary-disabled: rgba(2, 151, 120, 1);
  --color-action-content-ai-primary-enabled: rgba(255, 255, 255, 1);
  --color-action-content-ai-primary-hover: rgba(255, 255, 255, 1);
  --color-action-content-ai-primary-active: rgba(255, 255, 255, 1);
  --color-action-content-ai-primary-disabled: rgba(70, 73, 255, 1);
  --color-action-content-ai-secondary-disabled: rgba(67, 91, 137, 1);
  --color-action-content-ai-tertiary-disabled: rgba(147, 166, 203, 1);
  --color-action-content-link-enabled: rgba(70, 73, 255, 1);
  --color-action-content-link-hover: rgba(31, 32, 122, 1);
  --color-action-content-link-active: rgba(21, 21, 76, 1);
  --color-action-content-link-disabled: rgba(83, 113, 172, 1);
  --color-action-fill-primary-enabled: rgba(70, 73, 255, 1);
  --color-action-fill-primary-hover: rgba(56, 58, 204, 1);
  --color-action-fill-primary-active: rgba(70, 73, 255, 1);
  --color-action-fill-primary-disabled: rgba(236, 237, 255, 1);
  --color-action-fill-secondary-enabled: rgba(255, 255, 255, 1);
  --color-action-fill-secondary-hover: rgba(248, 249, 252, 1);
  --color-action-fill-secondary-active: rgba(236, 237, 255, 1);
  --color-action-fill-secondary-disabled: rgba(239, 242, 249, 1);
  --color-action-fill-tertiary-enabled: rgba(255, 255, 255, 0);
  --color-action-fill-tertiary-hover: rgba(255, 255, 255, 1);
  --color-action-fill-tertiary-active: rgba(248, 249, 252, 1);
  --color-action-fill-tertiary-disabled: rgba(255, 255, 255, 0);
  --color-action-fill-negative-primary-enabled: rgba(255, 115, 115, 1);
  --color-action-fill-negative-primary-hover: rgba(228, 83, 83, 1);
  --color-action-fill-negative-primary-active: rgba(255, 115, 115, 1);
  --color-action-fill-negative-primary-disabled: rgba(255, 245, 245, 1);
  --color-action-fill-negative-secondary-enabled: rgba(255, 255, 255, 1);
  --color-action-fill-negative-secondary-hover: rgba(255, 255, 255, 1);
  --color-action-fill-negative-secondary-active: rgba(255, 245, 245, 1);
  --color-action-fill-negative-secondary-disabled: rgba(239, 242, 249, 1);
  --color-action-fill-negative-tertiary-enabled: rgba(255, 255, 255, 0);
  --color-action-fill-negative-tertiary-hover: rgba(255, 255, 255, 1);
  --color-action-fill-negative-tertiary-active: rgba(255, 255, 255, 1);
  --color-action-fill-negative-tertiary-disabled: rgba(255, 255, 255, 0);
  --color-action-fill-positive-primary-enabled: rgba(2, 195, 154, 1);
  --color-action-fill-positive-primary-hover: rgba(2, 151, 120, 1);
  --color-action-fill-positive-primary-active: rgba(2, 195, 154, 1);
  --color-action-fill-positive-primary-disabled: rgba(230, 255, 249, 1);
  --color-action-outline-secondary-enabled: rgba(217, 224, 237, 1);
  --color-action-outline-secondary-hover: rgba(147, 166, 203, 1);
  --color-action-outline-secondary-active: rgba(56, 58, 204, 1);
  --color-action-outline-secondary-disabled: rgba(217, 224, 237, 1);
  --color-action-outline-tertiary-hover: rgba(217, 224, 237, 1);
  --color-action-outline-tertiary-active: rgba(217, 224, 237, 1);
  --color-action-outline-negative-secondary-enabled: rgba(217, 224, 237, 1);
  --color-action-outline-negative-secondary-hover: rgba(255, 115, 115, 1);
  --color-action-outline-negative-secondary-active: rgba(255, 115, 115, 1);
  --color-action-outline-negative-secondary-disabled: rgba(217, 224, 237, 1);
  --color-action-outline-negative-tertiary-hover: rgba(217, 224, 237, 1);
  --color-action-outline-negative-tertiary-active: rgba(255, 115, 115, 1);
  --color-action-outline-ai-primary-hover: rgba(56, 58, 204, 1);
  --color-action-outline-ai-secondary-hover: rgba(56, 58, 204, 1);
  --color-action-outline-ai-secondary-disabled: rgba(217, 224, 237, 1);
  --color-action-outline-ai-tertiary-active: rgba(217, 224, 237, 1);
  --color-interaction-fill-enabled: rgba(255, 255, 255, 1);
  --color-interaction-fill-hover: rgba(255, 255, 255, 1);
  --color-interaction-fill-active: rgba(255, 255, 255, 1);
  --color-interaction-fill-disabled: rgba(248, 249, 252, 1);
  --color-interaction-fill-search: rgba(248, 249, 252, 1);
  --color-interaction-outline-enabled: rgba(217, 224, 237, 1);
  --color-interaction-outline-hover: rgba(83, 113, 172, 1);
  --color-interaction-outline-active: rgba(56, 58, 204, 1);
  --color-interaction-outline-disabled: rgba(217, 224, 237, 1);
  --color-interaction-outline-negative: rgba(255, 115, 115, 1);
  --color-general-neutral-dark: rgba(67, 91, 137, 1);
  --color-general-neutral-light: rgba(239, 242, 249, 1);
  --color-general-neutral-lighter: rgba(248, 249, 252, 1);
  --color-general-neutral-white: rgba(255, 255, 255, 1);
  --color-general-transparent: rgba(255, 255, 255, 0);
  --color-general-positive: rgba(230, 255, 249, 1);
  --color-general-light-warning: rgba(251, 251, 233, 1);
  --color-general-warning: rgba(255, 233, 204, 1);
  --color-general-negative: rgba(255, 219, 219, 1);
  --color-general-negative-light: rgba(255, 245, 245, 1);
  --color-general-informative: rgba(236, 237, 255, 1);
  --color-general-informative-disabled: rgba(217, 224, 237, 1);
  --color-general-status-neutral: rgba(248, 249, 252, 1);
  --color-general-avatar: rgba(236, 237, 255, 1);
  --color-general-stepper-enabled: rgba(181, 182, 255, 1);
  --color-general-stepper-active: rgba(56, 58, 204, 1);
  --color-general-stepper-disabled: rgba(217, 224, 237, 1);
  --color-general-tooltip: rgba(21, 21, 76, 0.8);
  --color-general-lightbox: rgba(21, 21, 76, 0.5);
  --color-outline-neutral-light: rgba(217, 224, 237, 1);
  --color-accent-blue: rgba(125, 190, 255, 1);
  --color-accent-cyan: rgba(112, 224, 229, 1);
  --color-accent-green: rgba(115, 229, 172, 1);
  --color-accent-yellow: rgba(239, 235, 156, 1);
  --color-accent-orange: rgba(255, 174, 112, 1);
  --color-accent-brown: rgba(180, 139, 125, 1);
  --color-accent-red: rgba(255, 115, 115, 1);
  --color-accent-pink: rgba(247, 111, 142, 1);
  --color-accent-purple: rgba(133, 135, 255, 1);
  --color-status-opportunity-closed: rgba(2, 195, 154, 1);
  --color-status-opportunity-active: rgba(133, 135, 255, 1);
  --color-status-opportunity-onhold: rgba(147, 166, 203, 1);
  --color-status-opportunity-declined: rgba(255, 115, 115, 1);
  --color-status-campaign-ongoing: rgba(133, 135, 255, 1);
  --color-status-campaign-draft: rgba(147, 166, 203, 1);
  --color-status-campaign-closed: rgba(2, 195, 154, 1);
  --color-status-obligation-pending: rgba(83, 113, 172, 1);
  --color-status-obligation-upcoming: rgba(133, 135, 255, 1);
  --color-status-obligation-overdue: rgba(255, 115, 115, 1);
  --color-status-obligation-in-dispute: rgba(221, 38, 38, 1);
  --color-status-obligation-complete: rgba(2, 195, 154, 1);
  --color-status-obligation-terminated: rgba(50, 68, 103, 1);
  --color-status-milestone-on-track: rgba(133, 135, 255, 1);
  --color-status-milestone-off-track: rgba(255, 159, 28, 1);
  --color-status-milestone-successful: rgba(2, 195, 154, 1);
  --color-status-milestone-failed: rgba(221, 38, 38, 1);
  --color-status-milestone-terminated: rgba(50, 68, 103, 1);
  --color-status-milestone-draft: rgba(147, 166, 203, 1);
  --color-status-agreement-active: rgba(133, 135, 255, 1);
  --color-status-agreement-expired: rgba(255, 115, 115, 1);
  --color-status-agreement-terminated: rgba(50, 68, 103, 1);
  --color-status-agreement-draft: rgba(147, 166, 203, 1);
  --color-status-agreement-canceled: rgba(50, 68, 103, 1);
  --color-status-alliance-in-negotiation: rgba(186, 199, 222, 1);
  --color-status-alliance-terminated: rgba(50, 68, 103, 1);
  --color-status-alliance-critical: rgba(221, 38, 38, 1);
  --color-status-alliance-at-risk: rgba(255, 115, 115, 1);
  --color-status-alliance-healthy: rgba(2, 195, 154, 1);
  --color-status-alliance-mature: rgba(133, 135, 255, 1);
  --color-status-meeting-scheduled: rgba(133, 135, 255, 1);
  --color-status-meeting-accepted: rgba(2, 195, 154, 1);
  --color-status-meeting-completed: rgba(2, 195, 154, 1);
  --color-status-meeting-declined: rgba(255, 115, 115, 1);
  --color-status-meeting-canceled: rgba(255, 115, 115, 1);
  --color-status-contact-active: rgba(2, 195, 154, 1);
  --color-status-contact-invited: rgba(83, 113, 172, 1);
  --color-status-submission-accepted: rgba(2, 195, 154, 1);
  --color-status-submission-in-review: rgba(186, 199, 222, 1);
  --color-status-submission-declined: rgba(255, 115, 115, 1);
  --color-status-imm-stage-todo: rgba(83, 113, 172, 1);
  --color-status-imm-stage-in-progress: rgba(133, 135, 255, 1);
  --color-status-imm-stage-complete: rgba(2, 195, 154, 1);
  --color-status-imm-stage-canceled: rgba(50, 68, 103, 1);
  --color-status-imm-priority-1: rgba(2, 195, 154, 1);
  --color-status-imm-priority-2: rgba(133, 135, 255, 1);
  --color-status-imm-priority-3: rgba(234, 228, 123, 1);
  --color-status-imm-priority-4: rgba(255, 159, 28, 1);
  --color-status-imm-priority-5: rgba(221, 38, 38, 1);
  --color-status-imm-criticality-low: rgba(186, 199, 222, 1);
  --color-status-imm-criticality-medium: rgba(133, 135, 255, 1);
  --color-status-imm-criticality-high: rgba(255, 159, 28, 1);
  --color-status-imm-criticality-critical: rgba(221, 38, 38, 1);
  --color-status-risk-identified: rgba(50, 68, 103, 1);
  --color-status-risk-in-review: rgba(186, 199, 222, 1);
  --color-status-risk-under-mitigation: rgba(255, 159, 28, 1);
  --color-status-risk-ongoing-monitoring: rgba(133, 135, 255, 1);
  --color-status-risk-escalated: rgba(221, 38, 38, 1);
  --color-status-risk-resolved: rgba(2, 195, 154, 1);
  --color-status-risk-closed: rgba(2, 195, 154, 1);
  --color-status-healthcheck-rating-0: rgba(50, 68, 103, 1);
  --color-status-healthcheck-rating-1: rgba(221, 38, 38, 1);
  --color-status-healthcheck-rating-2: rgba(255, 159, 28, 1);
  --color-status-healthcheck-rating-3: rgba(234, 228, 123, 1);
  --color-status-healthcheck-rating-4: rgba(133, 135, 255, 1);
  --color-status-healthcheck-rating-5: rgba(2, 195, 154, 1);
  --color-status-assessment-draft: rgba(147, 166, 203, 1);
  --color-status-assessment-todo: rgba(83, 113, 172, 1);
  --color-status-assessment-ongoing: rgba(133, 135, 255, 1);
  --color-status-assessment-closed: rgba(2, 195, 154, 1);

  --text-headline-h1: 1.5rem;
  --font-weight-headline-h1: 700;
  --spacing-headline-h1: 2rem;
  --text-headline-h2: 1.25rem;
  --font-weight-headline-h2: 700;
  --spacing-headline-h2: 1.75rem;
  --text-headline-h3: 1rem;
  --font-weight-headline-h3: 700;
  --spacing-headline-h3: 1.5rem;
  --text-headline-h4: 1rem;
  --font-weight-headline-h4: 400;
  --spacing-headline-h4: 1.5rem;
  --text-highlights-lg: 0.875rem;
  --font-weight-highlights-lg: 600;
  --spacing-highlights-lg: 1.25rem;
  --text-highlights-md: 0.75rem;
  --font-weight-highlights-md: 600;
  --spacing-highlights-md: 1rem;
  --text-body-xl: 1.25rem;
  --font-weight-body-xl: 400;
  --spacing-body-xl: 1.75rem;
  --text-body-lg: 0.875rem;
  --font-weight-body-lg: 400;
  --spacing-body-lg: 1.25rem;
  --text-body-md: 0.75rem;
  --font-weight-body-md: 400;
  --spacing-body-md: 1rem;
  --text-body-oveline: 0.625rem;
  --font-weight-body-oveline: 600;
  --spacing-body-oveline: 0.75rem;
  --text-body-caption: 0.5625rem;
  --font-weight-body-caption: 400;
  --spacing-body-caption: 0.75rem;
  --text-button-lg: 0.875rem;
  --font-weight-button-lg: 400;
  --spacing-button-lg: 1.25rem;
  --text-button-md: 0.75rem;
  --font-weight-button-md: 400;
  --spacing-button-md: 1rem;

  --font-sora: Sora;
  --font-lato: Lato;

  --shadow-focus: 0rem 0rem 0.25rem 0rem rgba(56, 58, 204, 0.4);
  --shadow-light-up: 0rem -0.0625rem 0.125rem 0rem rgba(83, 113, 172, 0.08);
  --shadow-light-down: 0rem 0.0625rem 0.125rem 0rem rgba(83, 113, 172, 0.08);
  --shadow-medium-up: 0rem -0.0625rem 0.1875rem 0rem rgba(83, 113, 172, 0.2);
  --shadow-medium-down: 0rem 0.0625rem 0.1875rem 0rem rgba(83, 113, 172, 0.2);
  --shadow-dark-up: 0rem -0.125rem 0.25rem 0rem rgba(83, 113, 172, 0.2);
  --shadow-dark-down: 0rem 0.125rem 0.25rem 0rem rgba(83, 113, 172, 0.2);